pre.code-highlighter {
   background-color: black;
   color: white;
   padding: 10px;
}
.code-highlighter .keyword {
   color: yellow;
}
.code-highlighter .variable-reference {
   color: #70FF69;
}
.code-highlighter .start-brace,
.code-highlighter .end-brace {
   font-weight: bold;
}
.code-highlighter .comment-header {
   color: skyblue;
}
.code-highlighter .comment,
.code-highlighter .comment .keyword,
.code-highlighter .comment .variable-reference,
.code-highlighter .comment .start-brace,
.code-highlighter .comment .end-brace {
   color: gray;
}
