/*
    Document   : main
    Created on : Jan 6, 2013, 12:07:18 AM
    Author     : Joseph Spencer
    Description:
        Purpose of the stylesheet follows.
*/
* {
   box-sizing: border-box;
}
body {
   overflow-x: hidden;
}
.bumped-dark {
   box-shadow: 0px 0px 6px rgba(0, 0, 0, 1),
      inset 0px 0px 4px rgba(0, 0, 0, 1),
      inset 0px 0px 12px rgba(0, 0, 0, 0.8),
      inset 0px 0px 20px rgba(0, 0, 0, 0.6);
}
.hides {
   overflow: hidden;
}
header {
   background-color: #545454;
   color: white;
   font-size: 200%;
   line-height: normal;
   margin: -10px;
   margin-bottom: 10px;
   padding-bottom: 20px;
   text-align: center;
   text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}
header span {
   font-size: 300%;
   text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.5);
   vertical-align: middle;
}
header .logo {
   font-size: 640%;
   margin-right: 40px;
   text-shadow: 0px 20px 8px rgba(0, 0, 0, 0.4);
}

.copy {
   margin: auto;
   padding: 10px;
   width: 80%;
}
/*CODE EDITOR*/
.code-editor {
   margin: auto;
   height: 550px;
   position: relative;
   width: 80%;
}
.code-editor > div {
   display: inline-block;
   height: 100%;
   position: relative;
   vertical-align: top;
   width: 50%;
}
.code-editor ul a[href=".compiled"] {
   text-align: center;
   width: 90px;
}

.code-editor .error {
   background-color: red !important;
   color: white !important;
   font-weight: bold;
   text-shadow: 0px 0.5px 1px gray;
}
.code-editor .tab-content {
   bottom: 0px;
   position: absolute;
   top: 70px;
   width: 100%;
}
.code-editor .tab-pane {
   height: 100%;
}
.code-editor textarea {
   background-color: black;
   color: white;
   font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
   height: 100%;
   width: 100%;
}
.code-editor .rendered {
   padding: 10px;
   padding-left: 30px;
}