* {
           box-sizing: border-box;
      -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}
html {
   height: 100%;
   width:  100%;
}
body {
   color: #333333;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 20px;
   margin: 0;
}
body.viewport {
   height: 100%;
   width:  100%;
}
body.no-scroll-bars {
   overflow: hidden;
}
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}
.muted {
  color: #999999;
}

h2 {
   font-size: 30px;
}
i.icon {
   font-family: 'ActionIcons';
   font-style: normal;
   font-weight: normal;
}